{% extends 'base.html.twig' %}


{% block title %}Connexion
{% endblock %}

{% block navbarlists %}
	<li>
		<a href="{{ path('app_home') }}">Accueil</a>
	</li>
{% endblock %}

{% block main2 %}
	<div class="cadreLogin">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a class="btn btn-danger" href="{{ path('app_logout') }}">Deconnexion</a>

				</div>
			{% endif %}

			<label for="inputUuid">Email:
			</label>
			<input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" style="background: rgba(30, 30, 30, 0.36); padding:2%" autocomplete="username" required autofocus>
			<label for="inputPassword">Password</label>
			<input type="password" name="password" id="inputPassword" class="form-control" style="background: rgba(30, 30, 30, 0.36); padding:2%" autocomplete="current-password" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="d-grid gap-2 mx-auto" style="margin-top:5%">
				<button class="btn btn-primary" style="background-color:#3D6A9E; padding:2.5%" type="submit">
					Connexion
				</button>
				<a class="btn btn-dark" href="{{ path('connect_google') }}" style="margin-top:3%; padding:2.5%" role="button" type="submit">Connexion avec
					<img class="logo_google" src="{{asset('asset/img/logoogle.svg')}}" alt=""></a>

			</div>

		</form>
	</div>
{% endblock %}
