{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block main2 %}

	<!-- container list en cours -->
	<div class="col-12" id="colMain2General-up">
		<h2>Liste des operations en cours</h2>
		<div class="ContainerTableauList">
			<table class="table" id="titlesTable">
				<thead>
					<tr class="titlesTR">
						<th scope="row" class="ele_T1">Id</th>
						<th scope="row" class="ele_T2">Commande</th>
						<th scope="row" class="ele_T3">Date</th>
						<th scope="row" class="ele_T5">Client</th>
						<th scope="row" class="ele_T6">Opération</th>
						<th scope="row" class="ele_T7">Employé</th>
					</tr>
				</thead>
			</table>
		</div>
		<!-- Container scroll et tableau de contenu -->
		<div class="" id="ContenueTable">
			<table class="table">
				<tbody>
					{% for commandes in commandeEnCours %}
						<tr>
							<th scope="row" class="ele_1">{{commandes.id}}</th>
							<th scope="row" class="ele_2">{{commandes.nomCommande}}</th>
							<th scope="row" class="ele_3">{{ commandes.date|date("d/m/Y") }}</th>
							<th scope="row" class="ele_5">{{commandes.client.nom}}</th>
							<th scope="row" class="ele_6">{{commandes.operation.typeoperation}}</th>
							<th scope="row" class="ele_7">{{commandes.user.nom|default('')}}</th>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- container table down  -->
	<div class="col-12" id="colMain2General-down">
		<h2>Liste des operations terminées</h2>
		<div
			class="ContainerTableauList">
			<!-- Tableau pour les titles -->
			<table class="table" id="titlesTable">
				<thead>
					<tr class="titlesTR">
						<th scope="row" class="ele_T1">Id</th>
						<th scope="row" class="ele_T2">Commande</th>
						<th scope="row" class="ele_T3">Date</th>
						<th scope="row" class="ele_T5">Client</th>
						<th scope="row" class="ele_T6">Opération</th>
						<th scope="row" class="ele_T7">Employé</th>
					</tr>
				</thead>
			</table>
			<!-- Container scroll et tableau de contenu -->
		</div>
		<div class="" id="ContenueTable">
			<table class="table">
				<tbody>
					{% for commandes in commandeTermine %}
						<tr>
							<th scope="row" class="ele_1">{{commandes.id}}</th>
							<th scope="row" class="ele_2">{{commandes.nomCommande}}</th>
							<th scope="row" class="ele_3">{{ commandes.date|date("d/m/Y") }}</th>
							<th scope="row" class="ele_5">{{commandes.client.nom}}</th>
							<th scope="row" class="ele_6">{{commandes.operation.typeoperation}}</th>
							<th scope="row" class="ele_7">{{commandes.user.nom|default('')}}</th>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
