{% extends 'base.html.twig' %}

{% block title %}CA
{% endblock %}
{% block stylesheets %}
	<style>
		#container {
			height: 500px;
		}

		.highcharts-figure,
		.highcharts-data-table table {
			min-width: 310px;
			max-width: 800px;
			margin: 1em auto;

		}
		.highcharts-data-table table {
			font-family: Verdana, sans-serif;
			border-collapse: collapse;
			border: 1px solid #ebebeb;
			margin: 10px auto;
			text-align: center;
			width: 100%;
			max-width: 500px;

		}

		.highcharts-data-table caption {
			padding: 1em 0;
			font-size: 1.2em;
			color: #555;

		}

		.highcharts-data-table th {
			font-weight: 600;
			padding: 0.5em;

		}
		.highcharts-credits {
			display: none !important;
		}
		.highcharts-data-table td,
		.highcharts-data-table th,
		.highcharts-data-table caption {
			padding: 0.5em;

		}

		.highcharts-data-table thead tr,
		.highcharts-data-table tr:nth-child(even) {
			background: #f8f8f8;
		}

		.highcharts-data-table tr:hover {
			background: #f1f7ff;
		}
	</style>
{% endblock %}
{% block navbarlists %}
	<li class="listeLateral">
		<a href="{{ path('app_expert') }}">Tableau de bord</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_expert_operations') }}">Ajouter une opération</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_liste_operations') }}">Mes opérations</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('inscription') }}">Ajouter un employé</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('liste_employe_modifier') }}">Liste des employés</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_prise_commande_expert') }}">Ajouter commande client</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_chiffre_affaire') }}">Chiffre d'affaire</a>
	</li>


{% endblock %}

{% block main2 %}

	<h3>Chiffre d'affaire de l'entreprise</h3>
	<figure class="highcharts-figure">
		<div id="container"></div>

	</figure>
{% endblock %}
{% block javascripts %}
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-3d.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<script>

		Highcharts.chart('container', {
chart: {
type: 'pie',
backgroundColor: '#e7e7e7',
options3d: {
enabled: true,
alpha: 45
}
},
title: {
text: ""
},


plotOptions: {
pie: {
innerSize: 190,
depth: 70
}
},
series: [
{
name: 'En €',
data: [
[{% if chiffreAffaireEnAttente  == null %}'En attente', 0
{% else %}
'En attente', {{ chiffreAffaireEnAttente }}
{% endif %}],

[{% if chiffreAffaireEnCours  == null %}'En cours', 0
{% else %}
'En cours', {{ chiffreAffaireEnCours }}
{% endif %}],

[{% if chiffreAffaireTerminer  == null %}'Terminé', 0
{% else %}
'Terminé', {{ chiffreAffaireTerminer }}
{% endif %}],
]
}
]
});
	</script>
{% endblock %}
