{% extends 'base.html.twig' %}

{% block title %}
	{% if isModification %}
		Modification
		{{employe.nom}}
	{% endif %}
{% endblock %}


{% block navbarlists %}
	<li class="listeLateral">
		<a href="{{ path('app_expert') }}">Tableau de bord</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_expert_operations') }}">Ajouter une opération</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_liste_operations') }}">Mes opérations</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('inscription') }}">Ajouter un employé</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('liste_employe_modifier') }}">Liste des employés</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_prise_commande_expert') }}">Ajouter commande client</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_chiffre_affaire') }}">Chiffre d'affaire</a>
	</li>

{% endblock %}

{% block main2 %}
	<div class="cadreB">
		<table class='table'>

			<h3>Modifier un employé</h3>

			{{ form_start(form) }}
			{{ form_row(form.nom)}}
			{{ form_row(form.prenom)}}
			{{ form_row(form.email)}}
			{{ form_row(form.roles)}}
			<input type="submit" class="btn" style="background-color:#CBC6C5; margin-bottom:5%;color:#3D6A9E; width:12%" value="Modifier">
			{{ form_end(form) }}

		</table>
	</div>
{% endblock %}
