{% extends 'base.html.twig' %}

{% block title %}Ajouter une opération
{% endblock %}

{% block navbarlists %}
	<li class="listeLateral">
		<a href="{{ path('app_expert') }}">Tableau de bord</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_expert_operations') }}">Ajouter une opération</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_liste_operations') }}">Mes opérations</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('inscription') }}">Ajouter un employé</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('liste_employe_modifier') }}">Liste des employés</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_prise_commande_expert') }}">Ajouter commande client</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_chiffre_affaire') }}">Chiffre d'affaire</a>
	</li>

{% endblock %}

{% block main2 %}
	<div class="cadreB">
		{% for message in app.flashes('wrong') %}
			<div class="alert alert-danger">
				{{message}}
			</div>
		{% endfor %}
		{% for message in app.flashes('successs') %}
			<div class="alert alert-success">
				{{message}}
			</div>
		{% endfor %}
		<h3>Opérations en attente</h3>
		<div class="container text-center">
			<div class="row">
				<div class="col">
					<p class="titreCommande">ID</p>
				</div>
				<div class="col">
					<p class="titreCommande">COMMANDE</p>
				</div>
				<div class="col">
					<p class="titreCommande">DATE</p>
				</div>
				<div class="col">
					<p class="titreCommande">CLIENT</p>
				</div>
				<div class="col">
					<p class="titreCommande">OPERATION</p>
				</div>
				<div class="col"></div>
				<hr>
			</div>
			<div class="scroll" style="margin-top:2%">
				{% for commandes in commandeEnAttente %}
					<div class="cadreRow row">
						<div class="test col">
							{{commandes.id}}
						</div>
						<div class="test col">
							{{commandes.nomCommande}}
						</div>
						<div class="test col">
							{{ commandes.date|date("d/m/Y") }}
						</div>
						<div class="test col ">
							{{commandes.client.nom}}
						</div>
						<div class="test col ">
							{{commandes.operation.typeoperation}}
						</div>
						<div class="test col ">
							<form method="post" action="{{path('expert_operations',{'id': commandes.id}) }}" onsubmit="return confirm('Voulez-vous vraiment Ajouter la commande ?');">
								<input type="submit" class="btn" style="background-color:#CBC6C5; margin-bottom:6%;color:#3D6A9E " value="Ajouter">
							</form>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
