{% extends 'base.html.twig' %}

{% block title %}Ajouter un employé
{% endblock %}

{% block navbarlists %}
	<li class="listeLateral">
		<a href="{{ path('app_expert') }}">Tableau de bord</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_expert_operations') }}">Ajouter une opération</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_liste_operations') }}">Mes opérations</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('inscription') }}">Ajouter un employé</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('liste_employe_modifier') }}">Liste des employés</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_prise_commande_expert') }}">Ajouter commande client</a>
	</li>
	<li class="listeLateral">
		<a href="{{ path('app_chiffre_affaire') }}">Chiffre d'affaire</a>
	</li>

{% endblock %}

{% block main2 %}
	<div class="cadreB">
		<div class='cadreRegister'>
			{% for message in app.flashes('ajoutEmploye') %}
				<div class="alert alert-success">
					{{message}}
				</div>
			{% endfor %}
			<h3>Ajouter un employé</h3>
			<div class="scroll" style="height:80%">
				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.nom)}}
				{{ form_row(registrationForm.prenom)}}
				{{ form_row(registrationForm.email,{
            "attr":{"placeholder":"Saisir votre email"},

    })}}
				{{ form_row(registrationForm.password)}}
				{{ form_row(registrationForm.roles)}}
				<button type="submit" class="btn" style="background-color:#CBC6C5;color:#3D6A9E">Ajouter</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>

{% endblock %}
