{% extends 'base.html.twig' %}

{% block title %}Mes opérations
{% endblock %}


{% block navbarlists %}
	<li class='btn-hover color-1 mt-4'>
		<a href="{{ path('app_apprenti') }}">Tableau de bord</a>
	</li>
	<li class='btn-hover mt-4'>
		<a href="{{ path('app_apprenti_operations') }}">Ajouter une opération</a>
	</li>
	<li class='btn-hover mt-4'>
		<a href="{{ path('app_liste_operations_apprenti') }}">Mes opérations</a>
	</li>
	<li class='btn-hover mt-4'>
		<a href="{{ path('app_prise_commande_apprenti') }}">Ajouter commande client</a>
	</li>
{% endblock %}

{% block main2 %}
	<div class="cadreB">
		<h3>Mes opérations</h3>
		<input id='adresse' type="text" placeholder="Client ou id (en minuscule)" class="searchBar form-control">
		<div class="container text-center">
			<div class="row">
				<div class="col">
					<p class="titreCommande">ID</p>
				</div>
				<div class="col">
					<p class="titreCommande">COMMANDE</p>
				</div>
				<div class="col">
					<p class="titreCommande">DATE</p>
				</div>
				<div class="col">
					<p class="titreCommande">CLIENT</p>
				</div>
				<div class="col">
					<p class="titreCommande">OPERATION</p>
				</div>
				<div class="col">
					<p class="titreCommande">STATUT</p>
				</div>
				<div class="col"></div>
				<hr>
			</div>
			<div class="container text-center">
				<div class="row">
					<div class="scroll">
						<p class="resultat row"></p>
						{% for commandes in commandeProfil %}
							<div class="cadreRow row">
								<div class="test col">
									{{commandes.id}}
								</div>
								<div class="test col">
									{{commandes.nomCommande}}
								</div>
								<div class="test col">
									{{ commandes.date|date("d/m/Y") }}
								</div>
								<div class="test col">
									{{commandes.client.nom}}
								</div>
								<div class="test col">
									{{commandes.operation.typeoperation}}
								</div>
								<div class="test col">
									{{commandes.statut}}
								</div>
								<div class="test col">
									{% if commandes.statut == "Terminer" %}
										<a href="{{path('afficherCommande',{'id':commandes.id})}}" style="color:#3D6A9E" class="boutton">PDF</a>
										{# <button type="submit" class="btn btn-primary">Modifier</button> #}
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<script>

				$(document).ready(function () {
$("#adresse").keyup(function (e) {
e.preventDefault();
e.stopPropagation();

let input = $("#adresse").val();
if (input.length === 0) {
$('.resultat').empty();
return false;
}

$.ajax({
url: "https://127.0.0.1:8000/call/ajax/operationsListe",
type: 'GET',

success: function (response) {

let liste = "";
let listeError = "";
$.each(response, function (index, value) { // J'ajoute chaque élément dans une liste
if (input == value.client.nom.toLowerCase() || input == value.id) {
liste += '<div class=" row" style="margin-top:3%;padding:10px">' + '<div class="id col">' + value.id + '</div>' + '<div class="com col">' + value.nomCommande + '</div>' + '<div class="date col">' + new Date(value.date).toLocaleDateString() + '</div>' + '<div class="client col">' + value.client.nom + '</div>' + '<div class="ope col">' + value.operation.type_operation + '</div>' + '<div class="statut col">' + value.statut + '</div>' + '<div class="pdf col">' + "<a href=https://localhost:8000/pdf/" + value.id + " style='color:#3D6A9E' class='boutton'>" + " PDF " + '</a>' + '</div>' + '</div>'
}
});
$('.resultat').html(liste);
},

error: function (response) {
console.log(error)
}
});
});
});
			</script>
		</div>
	{% endblock %}
