<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="{{asset('asset/img/goute.png')}}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> {% block stylesheets %}{% endblock %}
		{#Link css #}
		<link rel="stylesheet" href="{{asset('asset/css/style.css')}}">
		<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-3 px-0 bg-ligth position-fixed" id="sticky-sidebar">
					<div
						class="sidevarstatic p-4">
						{#Contenu du sidebar lateral#}
						<img class="logo" src="{{asset('asset/img/logo.svg')}}" alt="">
						<ul class="listLateral"> {% block navbarlists %}{% endblock %}
							</ul>
						</div>
					</div>
					{#Contenu du 70% restent#}
					<div class="col offset-3 p-0 " id="main">
						<nav class="navbar " id="navbartop">
							<div class="container-fluid">
								{% if app.user %}
									<a style="color: white; margin-left: 1%">
										Connecté :
										{{ app.user.nom }}
										{{app.user.prenom}}
									</a>
									<a href="{{ path('app_logout') }}" type="button" class="btn ">
										<img class="logo" src="{{asset('asset/img/deco.png')}}" style="height:50px" alt="">
									</a>
								{% else %}
									<a style="color: white; margin-left: 1%" href="{{ path('app_login') }}" role="button">Se connecter</a>
								{% endif %}
							</div>
						</nav>
						<div class="container" id="peremain2">
							<div class="row p-4 mx-auto"> {% block main2 %}{% endblock %}
								</div>
							</div>
						</div>
					</div>
				</div>
				{% block javascripts %}
					<script>
						$('.alert.alert').fadeIn().delay(4000).fadeOut();
					</script>
				{% endblock %}
			</body>
		</html>
